body {
  width: 100%;
  height: 100vh;
  background: url(../../assets/dbpback.jpg) 50% fixed;
  background-size: cover;
  color: #747474;
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
}

.teal, a {
  color: #009;
}

a:focus, a:hover {
  color: #8BC34A;
  text-decoration: underline;
}

a:focus, a:hover {
  color: #8BC34A;
}

.sidebar a:hover, .sidebar a:hover, .sidebar a:active {
  color: #8BC34A;
}

.default-dark {
  color: #009;
}

.default-dark:hover {
  color: #8BC34A;
}

.modal-header {
  background-color: #009;
  color: #fff;
}

.modal-header .close {
  color: #fff;
}

.selected-cell, .btn-success {
  background-color: #009 !important;
  color: #ffffff;
  background-image: none;
}

.orange {
  color: #FF9800;
}

.green {
  color: #8BC34A;
}

.big_icon {
  font-size: 4.3em;
}

.huge_icon {
  font-size: 10em;
}

.welcome {
  margin-left: 28px;
}

.breadcrumb-wrapper .label {
  color: #999;
  text-transform: uppercase;
  font-size: 13px;
  font-weight: normal;
  display: inline-block;
}

.radio-button-group {
  margin-left: 0px !important;
}

.breadcrumb {
  background: none;
  display: inline-block;
  padding: 0;
  margin-bottom: 0;
  list-style: none;
  /*background-color: #f5f5f5;*/
}

.breadcrumb li {
  font-size: 14px;
}

.breadcrumb > li {
  display: inline-block;
}

.pageheader .breadcrumb li.active {
  color: #333;
}

.form-control-static-center {
  text-align: center;
}

.welcome-date, .welcome-username {
  margin: 0 5px 0 20px;
}

.refresh-button, .switch-account--button {
  margin-left: 20px;
}

.dropdown-menu > .active > a {
  background: transparent;
  color: #333;
}

.navbar {
  margin: 0 !important;
  padding: 0;
  border-radius: 0px;
  border-left: 1px solid #eee;
  position: relative;
}

.navbar-badge {
  margin-bottom: 6px;
  margin-left: 6px;
  background-color: #a94442;
}

.navbar-tasks, .negative, .red {
  color: #a94442;
}

.navbar-badge-tasks {
  background-color: #a94442;
  color: #f2dede;
}

.navbar-badge-messages {
  background-color: #31708f;
  color: #d9edf7;
}

.navbar-notif, .positive {
  color: #8BC34A;
}

.navbar-badge-notif {
  background-color: #8BC34A;
  color: #dff0d8;
}

.profile-name {
  padding: 0 10px;
}

.main-page {
  margin-top: 58px;
}

.page-header {
  margin: 0;
  padding: 0px 0px 5px 15px;
  border-bottom: 1px solid #d3d7db;
  border-top: 1px solid #eee;
  _color: #747474;
  color: #009;
}

.breadcrumb-wrapper {
  padding-top: 0;
  float: left !important;
}

.page-wrapper {
  /*padding: 2px;*/
  _min-height: 1600px;
  /*background-color: #e4e7ea;*/
  background-color: #fff;
}

@media (min-width: 768px) {
  .page-wrapper {
    position: inherit;
    margin: 0 0 0 230px;
    _min-height: 1650px;
  }
}

@media (min-width: 1200px) {
  .page-wrapper {
    _min-height: 1300px;
  }

  .breadcrumb-wrapper {
    padding-top: 25px;
    float: right !important;
    text-align: right;
    margin-right: 20px;
  }
}

@media (min-width: 1235px) {
  .page-wrapper {
    _min-height: 1100px;
  }
}

@media (min-width: 768px) {
  .container-fluid > .navbar-collapse, .container-fluid > .navbar-header, .container > .navbar-collapse, .container > .navbar-header {
    margin-right: 0;
    margin-left: 0;
  }
}

.navbar {
  margin-bottom: 2px;
  background-color: #fff;
  background-image: none;
  min-height: 50px;
}

.navbar-default {
  box-shadow: none;
  -webkit-box-shadow: none;
  background: none;
}

.navbar-top-links {
  margin-right: 0;
}

.navbar-top-links li {
  display: inline-block;
}

.navbar-top-links li:last-child {
  margin-right: 15px;
}

.navbar-top-links li a {
  padding: 15px;
  min-height: 50px;
}

.navbar-top-links .dropdown-menu li {
  display: block;
}

.navbar-top-links .dropdown-menu li:last-child {
  margin-right: 0;
}

.navbar-top-links .dropdown-menu li a {
  padding: 3px 20px;
  min-height: 0;
}

.navbar-top-links .dropdown-menu li a div {
  white-space: normal;
}

.navbar-top-links .dropdown-messages,
.navbar-top-links .dropdown-tasks,
.navbar-top-links .dropdown-alerts {
  width: 310px;
  min-width: 0;
}

.navbar-top-links .dropdown-messages {
  margin-left: 5px;
}

.navbar-top-links .dropdown-tasks {
  margin-left: -59px;
}

.navbar-top-links .dropdown-alerts {
  margin-left: -123px;
}

.navbar-top-links .dropdown-user {
  right: 0;
  left: auto;
}

.sidebar .nav > li > a, .sidebar .nav > li > a {
  border: 0;
}

.nav > li > ul {
  list-style-type: none;
  margin-left: -5px;
}
.nav > li > ul > li {
  margin-bottom: 15px;
}

.nav > li > a {
  padding: 18px 15px;
  border-left: 1px solid #eee;
  border-right: 1px solid #eee;
  height: 60px;
  vertical-align: -webkit-baseline-middle;
  vertical-align: middle;
}

.nav > li > a:focus, .nav > li > a:hover, .nav > li > ul > li > a:focus, .nav > li > ul > li > a:hover {
  text-decoration: underline;
  background: none;
}

.sidebar .sidebar-nav.navbar-collapse {
  padding-right: 0;
  padding-left: 0;
  color: #009;
}

.sidebar .sidebar-search {
  padding: 18px 45px 15px 15px;
}

.sidebar .sidebar-locale {
  padding: 18px 15px;
  height: 60px;
}

.sidebar-locale .locale-widget-separator {
  margin-left: 5px;
  margin-right: 5px;
}

.sidebar a {
  color: #009;
}

.sidebar-text {
  margin-left: 5px;
}

.sidebar .arrow {
  float: right;
}

.sidebar .fa.arrow:before {
  content: "\f104";
}

.sidebar .active > a > .fa.arrow:before {
  content: "\f107";
}

.sidebar .nav-second-level li,
.sidebar .nav-third-level li {
  border-bottom: 0 !important;
}

.sidebar .nav-second-level li a {
  padding-left: 37px;
}

.sidebar .nav-third-level li a {
  padding-left: 52px;
}

@media (min-width: 768px) {
  .sidebar {
    z-index: 1;
    position: absolute;
    width: 234px;
    margin-top: 3px;
    border-radius: 0px;
  }

  .navbar-top-links .dropdown-messages,
  .navbar-top-links .dropdown-tasks,
  .navbar-top-links .dropdown-alerts {
    margin-left: auto;
  }
}

.btn-outline {
  color: inherit;
  background-color: transparent;
  transition: all .5s;
}

.btn-primary.btn-outline {
  color: #428bca;
}

.btn-success.btn-outline {
  color: #8BC34A;
}

.btn-info.btn-outline {
  color: #5bc0de;
}

.btn-warning.btn-outline {
  color: #F0AD4E;
}

.btn-danger.btn-outline {
  color: #d9534f;
}

.btn-primary.btn-outline:hover,
.btn-success.btn-outline:hover,
.btn-info.btn-outline:hover,
.btn-warning.btn-outline:hover,
.btn-danger.btn-outline:hover {
  color: #fff;
}

.chat {
  margin: 0;
  padding: 0;
  list-style: none;
}

.chat li {
  margin-bottom: 10px;
  padding-bottom: 5px;
  border-bottom: 1px dotted #999;
}

.chat li.left .chat-body {
  margin-left: 60px;
}

.chat li.right .chat-body {
  margin-right: 60px;
}

.chat li .chat-body p {
  margin: 0;
}

.panel .slidedown .glyphicon,
.chat .glyphicon {
  margin-right: 5px;
}

.chat-panel .panel-body {
  height: 350px;
  overflow-y: scroll;
}

.login-brand-text {
  margin-top: 12%;
}

.login-panel {
  margin-top: 12%;
}

.flot-chart {
  display: block;
  height: 400px;
}

.flot-chart-content {
  width: 100%;
  height: 100%;
}

.dataTables_wrapper {
  position: relative;
  clear: both;
}

table.dataTable thead .sorting,
table.dataTable thead .sorting_asc,
table.dataTable thead .sorting_desc,
table.dataTable thead .sorting_asc_disabled,
table.dataTable thead .sorting_desc_disabled {
  background: 0 0;
}

table.dataTable thead .sorting_asc:after {
  content: "\f0de";
  float: right;
  font-family: fontawesome;
}

table.dataTable thead .sorting_desc:after {
  content: "\f0dd";
  float: right;
  font-family: fontawesome;
}

table.dataTable thead .sorting:after {
  content: "\f0dc";
  float: right;
  font-family: fontawesome;
  color: rgba(50, 50, 50, .5);
}

.btn-circle {
  width: 30px;
  height: 30px;
  padding: 6px 0;
  border-radius: 15px;
  text-align: center;
  font-size: 12px;
  line-height: 1.428571429;
}

.btn-circle.btn-lg {
  width: 50px;
  height: 50px;
  padding: 10px 16px;
  border-radius: 25px;
  font-size: 18px;
  line-height: 1.33;
}

.btn-circle.btn-xl {
  width: 70px;
  height: 70px;
  padding: 10px 16px;
  border-radius: 35px;
  font-size: 24px;
  line-height: 1.33;
}

.show-grid [class^=col-] {
  padding-top: 10px;
  padding-bottom: 10px;
  border: 1px solid #ddd;
  background-color: #eee !important;
}

.show-grid {
  margin: 15px 0;
}

.huge {
  font-size: 24px;
  text-shadow: 1px 1px #747474;
}

.last-item {
  color: #ccc;
  font-size: 20px;
}

.secondary-text {
  font-size: 20px;
  margin-top: 10px;
  color: #ccc;
}

.sidebar-icon {
  width: 15px;
  display: inline-block;
  text-align: center;
}

.widget-today .panel-heading, .widget-time .panel-heading {
  height: 115px;
}

.widget-today .today, .widget-time .today {
  line-height: bold;
  margin: 0;
  color: #333;
  font-size: 18px;
}

.widget-today .glyphicon, .widget-today .fa, .widget-time .fa {
  font-size: 72px;
  color: #fff;
  opacity: 1;
}

.panel {
  margin: 10px;
}

.widget-today .panel-body, .widget-time .panel-body {
  padding: 15px;
  height: 45px;
}

.widget-link:hover * {
  border-color: #8BC34A
}

.widget-link:hover .panel-info .panel-heading {
  background-color: #8BC34A;
}

.widget-link:hover .default-dark {
  color: #8BC34A;
}

.widget-link:hover .last-item {
  color: #747474;
}

.panel-info {
  border-color: #009;
}

.panel-info .panel-heading {
  color: #fff;
  background-color: #009;
  background-image: none;
}

.navbar-nav {
  float: right;
}

.navbar-brand {
  color: #fff;
  padding-right: 14px;
}

.stat .panel-body {
  display: block;
  background-color: #009;
  color: #fff;
}

.stat-panel-heading:hover {
  color: #fff;
}

.stat-panel-heading {
  min-height: 100px;
}

.currency-table {
  margin-left: 10px;
}

.react-bs-table table td {
  white-space: normal;
  word-wrap: break-word;
}

.pagination > .active > a, .pagination > .active > a:focus, .pagination > .active > span, .pagination > .active > span:focus {
  z-index: 3;
  color: #fff;
  cursor: default;
  background-color: #009;
  border-color: #009;
}

.pagination > .active > a:hover, .pagination > .active > span:hover {
  background-color: #009;
  border-color: #009;
}

* {
  box-sizing: border-box;
}

/*
#root {
  width: 100%;
  min-height:100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  min-height:100%;
}
*/
#root {
  /*width: 100%;
  height: 350vh;
  background: url(/static/media/dbpback.23bba676.jpg) 50% fixed;
  background-size: cover;*/
}
.title-div {
  position: absolute;
  left: 245px;
  top: 12px;
}
.title {
  font-size: 30px;
  color: #009;
  font-weight: 500;
}
.app_layout {
  background-color: #fff;
  padding-bottom: 25px;
  opacity: 0.95;
  height: 100%;
  min-height: 120vh;
}
.header_icon {
  _opacity: 0.7;
  font-size: 26px;
  margin-right: 10px;
}
.app_main_layout {
  text-align: left;
}
.pageheader {
  font-weight: 400;
  font-size: 26px;
}
.welcome_main {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  min-height: 100%;
  text-align: center;
}

.auth {
  border-radius: 5px 5px 5px 5px;
  padding: 10px 20px 20px 20px;
  background: #ffffff;
  position: relative;
  padding-bottom: 80px;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.3);
}

.auth .title {
  color: #444;
  font-size: 1.4em;
  font-weight: bold;
  margin: 10px 0 30px 0;
  border-bottom: 1px solid #eee;
  padding-bottom: 20px;
}

.auth button {
  width: 100%;
  height: 100%;
  padding: 10px 10px;
  background: #2196F3;
  color: #fff;
  display: block;
  border: none;
  margin-top: 20px;
  position: absolute;
  left: 0;
  bottom: 0;
  max-height: 60px;
  border: 0px solid rgba(0, 0, 0, 0.1);
  border-radius: 0 0 2px 2px;
  transform: rotateZ(0deg);
  transition: all 0.1s ease-out;
  border-bottom-width: 7px;
}

.auth button {
  width: 50%;
}

.cancel {
  left: initial !important;
  right: 0;
  background: none !important;
  opacity: 1;
  border-top: solid 1px #eee !important;
  text-decoration: underline;
  color: #aaa !important;
}

.label {
  color: #000;
  font-weight: normal;
  font-size: 1.2em;
}

.default-label, .default-label-table {
  color: #009;
  font-weight: normal;
}

.default-label-table {
  margin-top: 5%;
}

.default-button {
  margin: 0 10px 0 0;
}

.button-center {
  text-align: center;
}

.button-left {
  margin-left: 20px;
  float: left;
}

.button-right {
  margin-right: 20px;
  float: right;
}

.button-bottom {
  margin-top: 20px;
  margin-bottom: 15px;
}

.button-top {
  margin-bottom: 15px;
}

.floating-button {
  margin: 0px;
  bottom: auto;
  top: 120px;
  right: 50px;
  position: fixed;
}

.workarea {
  width: 100%;
  height: 100%;
  float: right;
}

.center-aligned-light-label {
  text-align: center !important;
  padding-left: 0 !important;
  color: #888 !important;
}

.widget-rating-icon {
  padding: 4px;
}

.explore-footer {
  padding: 20px 30px;
}

.spacer {
  margin: 20px;
}

/* Use Bootstrap error styles for widgets. */
.has-error .rw-widget {
  border-color: #A94442;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset;
}

.has-error .rw-widget.rw-state-focus {
  border-color: #A94442;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset, 0px 0px 6px #CE8483;
}

.no-margin-bottom {
  margin-bottom: 0;
}

.button-text {
  padding: 15px;
}

.widgetlist-enter, .widgetlist-appear {
  opacity: 0;
  right: 10px
}

.widgetlist-enter-active, .widgetlist-appear-active {
  opacity: 1;
  transition: 500ms;
  right: 0;
}

.widgetlist-leave {
  /*opacity: 1;*/
  /*right: 0;*/
  transform: rotateY(0deg);
}

.widgetlist-leave-active {
  /*opacity: 0;*/
  /*right: -30px;*/
  /*transition: 500ms;*/
  animation: flip-out 500ms ease-out forwards;
}

@keyframes flip-out {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(90deg);
  }

}

.widget-action {
  padding: 0 15px 0 0;
}

.default-action:hover {
  color: #009;
}

.trash:hover {
  color: red;
}

.multiselect {
  border-right: none;
  border-left: none;
  box-shadow: none;
  border-radius: 0;
  margin-left: 0;
  padding-left: 0;
}

.multiselect > option {
  color: #000;
  font-size: 15px;
}

.form-control[disabled] > option {
  color: #747474;
  background-color: transparent;
}

.form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control {
  background-color: transparent;
  opacity: 1;
}

.form-control:focus {
  border-color: #009;
  outline: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.tabs > div > div:nth-child(2) > div {
  height: 6px !important;
  margin-top: -6px !important;
}

.tabs-top {
  margin-top: 20px;
}

.tabs-top > iframe {
  position: relative !important;
  min-height: 600px;
}

.spinner-container-list {
  width: 50%;
  position: absolute;
  margin-top: -60px;
  right: 0;
}

.spinner-container {
  width: 50%;
  position: absolute;
  right: 0;
}

.inner-spinner-container {
  _margin: 0 auto; /* use margin: xxx auto to center horizontally */
}

.spinner-label {
  color: #009;
  margin-top: 10px;
}

.getting-started-div {
  margin: 10px;
}

.footer-div {
  background: #fff;
  width: 100%;
  height: 40px;
  position: fixed;
  opacity: 0.85;
  bottom: 0;
  left: 0;
  text-align: center;
  padding: 10px;
}
.footer-title {
  color: #009;
  font-size: 10pt;
}
